<footer class="page-footer font-small bg-light pt-4">

    <div class="container">

        <div class="row mt-5">
            <div class="col d-flex justify-content-center">
                <p class="p-t">Veja nosso repositório no GitHub
                    <a href="https://github.com/enlaceorg"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <p class="p-b">Feito com ♡ por <span>Enlace</span></p>
            </div>
        </div>
    </div>
</footer>