.page-footer {
    margin-top: 25vh;
    width: 205vh;
    height: 200px;
    color: #545454;
}
footer{
    background-color:#54545423 !important;
}

.logo-footer {
    position: absolute;
    right: 0px;
    height: 364px;
}

.p-t {
    color: #545454;
    font-family: 'Epilogue', sans-serif;
    font-weight: light;
    font-size: 13pt;
    line-height: 1;
}

.p-b {
    color: #545454;
    font-family: 'Epilogue', sans-serif;
    font-weight: light;
    font-size: 13pt;
    line-height: 1;
}

.fa-brands {
    margin-left: 10px;
    font-size: 13pt;
    color: #545454;
}

span {
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
}