#principal {
    color: #545454;
    background-color: #fdfefd;
    font-family: 'Epilogue', sans-serif;
    font-weight: 300;
}

h1{
    font-family: 'Epilogue', sans-serif;
    font-weight: 900;
    font-size: 50px;
}

.containerNav img {
    margin-top: 12px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
}

.nav {
    background-color: #fdfefd;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 0%;
}

a:hover {
    color: #FFC732;
}

a{
    text-decoration: none;
}

.aCadastrar{
    color: #FFC732;
}

.aCadastrar:hover{
    color: #215DF2;
}

.voltar {
    color: #FFC732;
    margin-left: 30px;
    padding-top: 0px;
    font-weight: 400;
}

h3 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 4000;
    font-size: 20px;
}

#cadastrar{
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.quadradoCadastra {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

span {
    color: #FFC732;
}

label {
  font-weight: 400;
  margin: 0%;
}

.form-group {
    justify-content: center;
}

input,
select {
    background-color: #f4f4f4;
    border: none;
}

label {
    margin: 0%
}

.btnEnv {
    background-color: #CCCBCC;
    width: 100%;
    border-radius: 50px;
    padding: 10px;
    border: none;
    transition: all .3s;
    font-size: 23px;
    color: #545454;
    outline: none;
}

.btnEnv:hover {
    background-color: #FFC732;
    color: #fdfefd;
    border: none;
}

.iconDentro input {
    padding-left: 40px;
}

.iconDentro {
    position: relative;
}

.iconDentro i {
    position: absolute;
    left: 6px;
    top: 25px;
    padding: 9px 8px;
    color: #FFC732;
}

footer {
    height: 32px;
    background-color: #FFC732
}

/*responsividade*/

@media screen and (max-width: 1086px ){
    #esconder{
        display: none;
    }
    
    footer{
        height: 35px;
        padding-top: 100px;
    }
    
    [class*= "col-md-6"]{
       margin-left: 270px;
    }
}
@media screen and (max-width: 644px){
   
    footer{
        display: none;
    }
    
    [class*= "col-md-6"]{
       margin: 30px;
       padding: 0;
    }
    div{
        margin: none;
        padding: none;
    }
    .voltar{
        margin: none;
        padding: none;
    }

}


@media screen and (min-height:780px) {
    footer{
        height: 35px;
        padding-top: 3%;
    }
}

@media screen and (min-height:788px) {
    footer{
        height: 35px;
        padding-top: 13%;
    }
}

/*responsividade*/

