<div id="logo-background" class="container-fluid">
    <div class="row d-flex align-items-center">
        <div id="gif-como-funciona" class="col-md-5 img-fluid">
        </div>
        <div id="texto-como-funciona" class="col-md-7 pr-5">

            <h3 class="mt-5">
                <blockquote><cite>
                        "Acabar com a pobreza em todas as suas formas, em todos os lugares"
                </cite></blockquote>
            </h3>

        <h4>
            Essa é a meta número do primeiro objetivo de <a href="https://brasil.un.org/pt-br/sdgs">Desenvolvimento Sustentável da Organização das Nações Unidas
            (ONU)</a>.

            Contribuir para essa meta, através da tecnologia, é um desafio. A maioria das pessoas em extrema pobreza não
            têm acesso a recursos tecnológicos, tais como celulares e internet. Assim, a Enlace é um espaço para
            divulgar ações, solicitar doações, oferecer colaborações para trazer recursos a essas pessoas.
        </h4>

        </div>
    </div>
</div>