<div class="container-fluid d-flex  align-items-center justify-content-center mt">
  <div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-3">
      <p class="text-center">Enlace é uma rede social que conecta pessoas e organizações, a fim de levar
        recursos a comunidades em situação de pobreza.</p>
      <a>
        <div class="img1 rounded"></div>
      </a>
    </div>

    <div class="col-md-1">
      <div class="col text-center">
        <img src="https://i.imgur.com/tabXrkC.png" title="source: imgur.com" class="iconMais" height="70px"
          width="70px" />
      </div>
    </div>

    <div class="col-md-2">
      <div>
        <a>
          <div class="img2"></div>
        </a>
        <p class="text-center">ONGs têm o conhecimento necessário para remediar o problema, mas não os recursos.</p>
      </div>
    </div>

    <div class="col-md-1">
      <div class="col text-center">
        <img src="https://i.imgur.com/tabXrkC.png" title="source: imgur.com" class="iconMais" height="70px"
          width="70px" />
      </div>
    </div>
    <div class="col-md-3">
      <p class="text-center">Pessoas querem ajudar,<br>mas não sabem onde<br>encontrar instituições<br>
        confiáveis ou como<br>contribuir.</p>
      <div>
        <a>
          <div class="img3"></div>
        </a>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row d-flex align-items-center">
    <div class="col ">
      <h1 class="sobreNosEsp"><span>Enlace</span><br>surgiu para<br>amarrar essas<br>pontas</h1>
    </div>
    <div class="col">
      <div>
        <img src="../../assets/logo2.png" width="400px" height="400px">
      </div>
    </div>
  </div>
</div>

<!--<div class="container-fluid">

    <div class="row d-flex align-items-center mx-5 me-5">

        <div class="col text-center firstParagraph">
            <p>Enlace é uma rede social que conecta pessoas e organizações, a fim de levar
            recursos a comunidades em situação de pobreza.</p>
            <div>
                <a><div class="img1"></div></a>
            </div>
        </div>

        <div class="col text-center">
            <img src="https://i.imgur.com/tabXrkC.png" title="source: imgur.com" class="iconMais"
            height="60px" width="60px"/>
        </div>

        <div class="col text-center secondParagraph">
            <div class="mb-5 mx-5">
                <a><div class="img2"></div></a>
            </div>
            <p><br><br><br>ONGs têm o<br>conhecimento<br>necessário para<br>remediar o problema,<br>
            mas não os recursos.</p>
        </div>

        <div class="col text-center">
            <img src="https://i.imgur.com/tabXrkC.png" title="source: imgur.com" class="iconMais"
            height="60px" width="60px"/>
        </div>

        <div class="col text-center thirdParagraph">
            <p>Pessoas querem ajudar,<br>mas não sabem onde<br>encontrar instituições<br>
            confiáveis ou como<br>contribuir.</p>
            <div>
                <a><div class="img3"></div></a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col ">
            <h1 class="sobreNosEsp"><span>Enlace</span><br>surgiu para<br>amarrar essas<br>pontas</h1>
        </div>
        <div class="col">
            <div>
                <img src="../../assets/logo2.png" width="400px" height="400px">
            </div>
        </div>
    </div>
</div>-->
