h1 {
    font-size: 10vmin;
    font-family: 'Epilogue', sans-serif;
    color: #545454;
    font-weight: bolder;
    text-align: center;
}

span {
    color: #f36c4a;
}

#lado-esquerdo {
    background-image: url(https://i.imgur.com/SoZrNSR.gif);
    background-size: contain;
    max-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
}

img {
    position: absolute;
    height: 500px;
    width: 500px;
    opacity: 50%;
    z-index: -1;
}

/*#logo-background {
    background-image: url(https://i.im.ge/2022/05/31/r8lhKY.png);
    background-repeat: no-repeat;
    background-position-x: -15%;
    background-position-y: 150%;
    background-size: 40%;
    height: 100vh;
}*/